rect.sc-bwzfXH.uTxCW {
  stroke: #0f051b;
  stroke-width: 1;
  display: none;
}

text.sc-bdVaJa.bPmwRh {
  display: none !important;
}

rect {
  fill: #242424;
  stroke-width: 1;
}

.middle-party {
  height: 5px;
  width: 100%;
  background: var(--main-color);
}
.bracket-match {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top-party,
.bottom-party {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top-party:hover {
  background: var(--main-color);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.bottom-party:hover {
  background: var(--main-color);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.party-name,
.party-count {
  font-size: 1.25rem;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
}

.loading {
  font-size: 2.25rem;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
}

.elimination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
